body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
}

.nav_filtro {
    margin-top: 0;
    margin-bottom: 16px;
}

.container_filmes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(432.66px, 1fr));  /* Garante que a largura mínima dos itens seja 432.66px */
    grid-auto-rows: 218px;  /* Altura fixa para os itens */
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0 56px;
    width: calc(100% - 112px);
}

.titulo_lista {
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 40px;
}

.barra_filtro{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 56px;
    margin-right: 56px;
}

.barra_filtro li a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

.filtro_seta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #8500F2;
    border-radius: 4px;
    padding: 0px;
    list-style: none;
    z-index: 10;
    min-width: 150px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.option {
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 8px;
    cursor: pointer;
}

.option .label {
    color: white;
}

.option:hover {
    background-color: #480083;
}

.arrow {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-bottom: 5px;
}
.resumo_filme{
    width: 432.66px;
    height: 218px;
    overflow: hidden;
}

.resumo_filme_imagem {
    position: relative;
    width: 100%;  
    height: 218px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;  
    background-position: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: transform 0.3s ease-in-out;
}

.resumo_filme_imagem:hover {
    transform: scale(1.1);
     
}

.resumo_filme_imagem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.3s ease-in-out;
}

#titulo_filme, #genero_filme {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.resumo_filme_imagem #genero_filme{
    display: flex;
    width: 267px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.novo_texto {
    position: absolute;
    z-index: 2;
    opacity: 0;
    color: white;
    font-size: 24px;
    transition: opacity 0.3s ease-in-out;
}

.novo_texto li {
    width: 267px;
    height: auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.novo_texto #informacoes_filme {
    display: flex;
    width: 267px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    gap: 0px;
}
.novo_texto #informacoes_filme li {
    width: auto;
    height: auto;
}

#informacoes_filme{
    margin-left: 8px;
    font-size: 16px;
}

.resumo_filme_imagem:hover #titulo_filme,
.resumo_filme_imagem:hover #genero_filme {
    opacity: 0;
}

.resumo_filme_imagem:hover .novo_texto {
    opacity: 1;
}

#titulo_filme {
    font-size: 48px;
}

#genero_filme {
    font-size: 16px;
}

.titulo_genero{
    display: flex; /* Usa flexbox para organizar os itens */
    flex-direction: column; /* Organiza os filhos na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Opcional: centraliza verticalmente no container pai */
    text-align: center; /* Centraliza o texto */
    gap: 8px; /* Espaçamento entre o título e o gênero */
}

#botao-filtro{
    display: none;
}

.barra_filtro_oculta{
    display: none;
    z-index: 10;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    display: none; /* Inicialmente escondido */
    z-index: 5; /* Fica abaixo do filtro */
}

.nav_listas{
    margin-bottom: 0;
}

section{
    flex-grow: 1;
    padding-bottom: 40px;
    margin-top: 40px;
}

footer {
    /*margin-top: 0;*/
    flex-shrink: 0;
} 

@media (max-width: 768px) {
    
    .barra_filtro{
        display: none;
    }

    #botao-filtro{
        display: block;
        padding: 7px 10px;
        background-color: #8500F2;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        margin-right: 24px;
        margin-left: 24px;
        width: 150px;
        height: 40px;
        text-align: center;     
    }

    #botao-filtro:hover{
        background-color: #480083;
    }

    
    #filtro-container.ativo {
        left: 0;
    }
    
    .barra_filtro_oculta{
        display: block;  
    }

    #filtro-container { 
        position: fixed;
        top: 0;
        left: -100%; 
        width: 300px;
        height: 100%;
        background-color: black;
        padding: 20px;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        color: white;
        transition: transform 0.3s ease, left 0.3s ease;
        overflow-y: auto;
        scrollbar-width:thin;
        scrollbar-color: #8500F2 transparent;
    }
    /* BARRA DE ROLAGEM ESTILIZADA */
        #filtro-container::-webkit-scrollbar {
            width: 4px;
            background: transparent; /* Barra invisível */
        }

        #filtro-container::-webkit-scrollbar-thumb {
            background: #8500F2;
            border-radius: 10px;
            opacity: 0; /* Ocultar thumb inicialmente */
            transition: opacity 0.3s ease;
        }

        /* Tornar o thumb visível ao rolar */
        #filtro-container:active::-webkit-scrollbar-thumb,
        #filtro-container:focus-within::-webkit-scrollbar-thumb {
            opacity: 1;
        }

        /* Trilho */
        #filtro-container::-webkit-scrollbar-track {
            background: transparent;  
        }

    /*-----------------------------------------------------------*/

    /*Configuração das letras do container-filtro*/
        .barra_filtro_oculta .container_filtro h1{
            font-size: 20px;
        }

        .barra_filtro_oculta .container_filtro ul{
            padding: 0 8px 8px;
            column-count: 2;         
            column-gap: 20px;
        }

        .barra_filtro_oculta .container_filtro li{
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            margin-bottom: 0px;
            padding: 0;
        }

        .option:hover{
            background-color: black;
            color: #8500F2;
        }
    /*-----------------------------------------------------------*/   

    .header_container{
        display: none;
    }

    .nav_listas{
        display: none;
    }

    .nav_listas_responsiva_direita {
        display: block;
        position: fixed;
        z-index: 4;
        width: 50%;
        right: 0;
        background-color: black;    
        padding-top: 8px;
        padding-bottom: 11px;
        margin: 0; 
        z-index: 2;
    }

    .nav_listas_responsiva_direita::after {
        content: "";
        position: absolute;
        bottom: 0; /* Alinha no final de .nav_listas */
        left: 0;
        width: 100%; /* Mesma largura de .nav_listas */
        height: 3px; /* Altura da faixa */
        /*background-color: #8500F2; /* Cor da faixa */
    }

    .nav_listas_responsiva_esquerda{
        display: block;
        position: fixed;
        z-index: 4;
        width: 50%;
        left: 0;
        background-color: black;    
        padding-top: 8px;
        padding-bottom: 11px;
        margin: 0; 
        z-index: 2;
    }

    .nav_listas_responsiva_esquerda::after {
        content: "";
        position: absolute;
        bottom: 0; /* Alinha no final de .nav_listas */
        left: 0;
        width: 100%; /* Mesma largura de .nav_listas */
        height: 3px; /* Altura da faixa */
        background-color: #8500F2; /* Cor da faixa */
    }

    /*-----------------------------------------------------------*/

    #titulo_filme, #genero_filme {
        z-index: 1;       
    }

    .titulo_lista{
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 40px;
        font-size: 40px; 
        min-width: 360px;
        max-width: 100%;
    }

    /*-----------------------------------------------------------*/

    .resumo_filme_imagem {
        position: relative;
        width: 352px; /* 50% de 405px */
        height: 189.44px; /* 50% de 218px */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-image: url(/public/assets/img/resumo_filme/furiosa_resumo.jpg);
        background-size: 100%;
        background-position: center;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        transition: background-size 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
        overflow: hidden;
    }

    .resumo_filme{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container_filmes{
        gap: 0px;
    }          
}