.nav_filtro {
    margin-top: 40px;
    margin-bottom: 16px;
}

.constainer_filmes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Configura 4 colunas na grid */
    gap: 24px; /* Espaçamento entre as colunas */
    justify-items: center; /* Centraliza as divs horizontalmente */
    align-items: center; /* Centraliza as divs verticalmente */
}

.titulo_lista {
    margin-left: 56px;
}

.barra_filtro {
    display: flex;
    align-items: center;
    padding-left: 56px;
    gap: 24px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.barra_filtro li a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

.filtro_seta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #8500F2;
    border-radius: 4px;
    padding: 0px;
    list-style: none;
    z-index: 10;
    min-width: 150px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.option {
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 8px;
    cursor: pointer;
}

.option .label {
    color: white;
}

.option:hover {
    background-color: #480083;
}

.arrow {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-bottom: 5px;
}

.resumo_filme {
    margin-bottom: 24px;
}

.resumo_filme_imagem {
    position: relative;
    width: 405px;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url(/public/assets/img/resumo_filme/furiosa_resumo.jpg);
    background-size: 100%;
    background-position: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: background-size 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow: hidden;
}

.resumo_filme_imagem:hover {
    background-size: 110%;
}

.resumo_filme_imagem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#titulo_filme, #genero_filme {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.novo_texto {
    position: absolute;
    z-index: 2;
    opacity: 0;
    color: white;
    font-size: 24px;
    transition: opacity 0.3s ease-in-out;
}

.novo_texto li {
    width: 267px;
    height: auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.resumo_filme_imagem:hover #titulo_filme,
.resumo_filme_imagem:hover #genero_filme {
    opacity: 0;
}

.resumo_filme_imagem:hover .novo_texto {
    opacity: 1;
}

#titulo_filme {
    font-size: 48px;
}

#genero_filme {
    font-size: 16px;
}

#botao-filtro{
    display: none;
}

.barra_filtro_oculta{
    display: none;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@media (max-width: 768px) {
    
    #botao-filtro{
        display: block;
        padding: 7px 10px;
        background-color: #8500F2;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        margin-bottom: 16px;
        margin-left: 24px;
        width: 150px;
        height: 40px;
        text-align: center;     
    }

    #botao-filtro:hover{
        background-color: #480083;
    }

    #filtro-container {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 300px;
        height: 100%;
        background-color: #8500F2;
        padding: 20px;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        color: white;
        transition: transform 0.3s ease, left 0.3s ease;
    }

    #filtro-container.ativo {
        left: 0;
    }

    #filtro-container .barra_filtro {
        display: flex;    
        justify-content: flex-start;     
    }

    .barra_filtro_oculta{
        display: block;
    }

    .barra_filtro_oculta.barra_filtro li a {
        text-decoration: none;
        color: white;
        font-family: "Poppins", sans-serif;
    }
    
    .barra_filtro_oculta.barra_filtro .filtro_seta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .barra_filtro{
        display: none;
    }

    /*-----------------------------------------------------------*/

    .header_container{
        display: none;
    }

    .nav_listas{
        top: 0;
        display: none;
    }

    .nav_listas_responsiva_direita {
        display: block;
        position: fixed;
        z-index: 4;
        width: 50%;
        right: 0;
        background-color: black;    
        padding-top: 8px;
        padding-bottom: 11px;
        margin: 0; 
        z-index: 2;
    }

    .nav_listas_responsiva_direita::after {
        content: "";
        position: absolute;
        bottom: 0; /* Alinha no final de .nav_listas */
        left: 0;
        width: 100%; /* Mesma largura de .nav_listas */
        height: 3px; /* Altura da faixa */
        /*background-color: #8500F2; /* Cor da faixa */
    }

    .nav_listas_responsiva_esquerda{
        display: block;
        position: fixed;
        z-index: 4;
        width: 50%;
        left: 0;
        background-color: black;    
        padding-top: 8px;
        padding-bottom: 11px;
        margin: 0; 
        z-index: 2;
    }

    .nav_listas_responsiva_esquerda::after {
        content: "";
        position: absolute;
        bottom: 0; /* Alinha no final de .nav_listas */
        left: 0;
        width: 100%; /* Mesma largura de .nav_listas */
        height: 3px; /* Altura da faixa */
        background-color: #8500F2; /* Cor da faixa */
    }

    /*-----------------------------------------------------------*/

    #titulo_filme, #genero_filme {
        z-index: 1;       
    }

    .titulo_lista{
        margin-left: 24px;
        margin-right: 24px;
        font-size: 40px; 
        min-width: 360px;
        max-width: 100%;
    }

    /*-----------------------------------------------------------*/

    .resumo_filme_imagem {
        position: relative;
        width: 352px; /* 50% de 405px */
        height: 189.44px; /* 50% de 218px */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-image: url(/public/assets/img/resumo_filme/furiosa_resumo.jpg);
        background-size: 100%;
        background-position: center;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        transition: background-size 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
        overflow: hidden;
    }

    .constainer_filmes{
        display: grid;
        grid-template-columns: 1fr; /* Apenas uma coluna */
        gap: 16px; /* Espaçamento vertical entre os itens */
        justify-items: center; /* Centraliza horizontalmente os itens */
        padding: 0 16px; /* Adiciona um padding para ajustar as laterais */
        margin-bottom: 32px;
    }

    /*-----------------------------------------------------------*/
}