body{
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Define a altura do corpo para preencher toda a janela */
    display: flex; /* Habilita o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: #ccc;
}

.pop-up_login_cadastro{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.cadastro, .login {
    width: 413px;
    height: 461px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
}

.cadastro{
    background-color: black;
    position: relative;
}

.login{
    background-color: white;
    color: black;
}

.cadastro h2, .login h2 {
    font-size: 32px;
}

.cadastro h1, .login h1 {
    font-size: 16px;
}

.input_cadastro {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%; /* Ajuste para ocupar toda a largura do contêiner */
    height: 30px; /* Altura maior para mais espaço */
    padding: 8px; /* Adiciona espaçamento interno para o texto */
    resize: none; /* Remove a capacidade de redimensionar */
    border: 1px solid #ccc; /* Estiliza a borda */
    border-radius: 2px; /* Bordas arredondadas */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    font-family: 'Poppins', sans-serif; /* Uniformiza com o restante do design */
    box-sizing: border-box; /* Inclui o padding no cálculo do tamanho */
    overflow: hidden;
    line-height: 13px;
}

input:focus {
    border-color: #141414; /* Cor verde, pode ser qualquer cor */
    outline: none; /* Remove o contorno padrão do navegador */
    box-shadow: 0 0 2px rgba(49, 49, 49, 0.5); /* Adiciona uma sombra suave ao redor */
}

.login input {
    width: 100%; /* Ajuste para ocupar toda a largura do contêiner */
    height: 30px; /* Altura maior para mais espaço */
    padding: 8px; /* Adiciona espaçamento interno para o texto */
    resize: none; /* Remove a capacidade de redimensionar */
    border:  none; /* Estiliza a borda */
    background-color: #E9E9E9;
    border-radius: 2px; /* Bordas arredondadas */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    font-family: 'Poppins', sans-serif; /* Uniformiza com o restante do design */
    box-sizing: border-box; /* Inclui o padding no cálculo do tamanho */
    overflow: hidden;
    line-height: 13px;
}

button{
    width: 141px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Começa fora do botão, à esquerda */
    width: 100%; /* Largura do botão */
    height: 100%; /* Altura do botão */
    background-color: #8500F2; /* Cor de fundo ao passar o mouse */
    z-index: 0; /* Coloca o pseudo-elemento atrás do texto */
    transition: left 0.3s ease; /* Faz o pseudo-elemento deslizar */
}

button:hover::before {
    left: 0; /* Move o pseudo-elemento para cobrir todo o botão */
}

button:hover {
    color: white; /* Altera a cor do texto */
    cursor: pointer;
}
  
button span {
    position: relative;
    z-index: 1; /* Garante que o texto fique acima do pseudo-elemento */
}

.cadastro button {
    background-color: #E9E9E9;
}

.login button {
    background-color: black;
    color: #E9E9E9;
}

.login button:hover{
    color: white;
}

.login{
    padding-top: 0;
}

.close {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: black; /* A cor desejada aqui */
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 24px;
}