body{
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Define a altura do corpo para preencher toda a janela */
    display: flex; /* Habilita o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: #ccc;
}

.pop-up_criar_lista{
    display: flex;
    border-radius: 5px;
    overflow: visible;
    background-color: white;
}

.criar_lista{
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
}

input {
    width: 100%;  
    height: 30px;  
    padding: 8px;  
    resize: none;  
    border: 1px solid #ccc;  
    border-radius: 2px;  
    font-size: 16px; 
    font-weight: 550; 
    font-family: 'Poppins', sans-serif;  
    box-sizing: border-box;  
    overflow: hidden;
    line-height: 13px;
    color: #8500F2;
}

#list_name{
    margin-bottom: 16px;
}

.input_criar_lista{
    font-family: 'Poppins', sans-serif;  
    position: relative;
    overflow: visible;
}

#list_name:focus {
    border-color: #141414;  
    outline: none;  
    box-shadow: 0 0 2px rgba(49, 49, 49, 0.5);  
}

#movie_search:focus{
    outline: none;
    border-radius: 2px 2px 0 0;
}

button{
    width: auto;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: #e9e9e9;
    background-color: inherit;
    padding: 0;
    margin: 0;
} 

.criar_cancelar {
    display: flex;
    margin-top: 24px;
    gap: 32px;
}

/*-----------------------------------------------------------------------*/

#create_button:disabled {
    color: #e9e9e9; /* Botão desabilitado fica cinza */
    cursor:default; /* Cursor indica que não está clicável */
}

#create_button:enabled {
    color: #8500F2; /* Letras brancas */
    cursor: pointer; /* Cursor padrão de clique */
    transition: background-color 0.3s; /* Suaviza a transição de cores */
}


/*-----------------------------------------------------------------------*/
 
.suggestions-container {
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    color: #8500F2;
    scrollbar-width:thin;
    scrollbar-color: #8500F2 transparent;

    top: 100%;
    left: 0;
}

input, .suggestions-container {
    box-sizing: border-box; /* Garante que padding e bordas sejam contabilizados na largura */
}

.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça os elementos horizontalmente */
    padding: 8px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.left-container {
    display: flex;
    align-items: center; /* Alinha imagem e texto verticalmente */
}

.movie-poster {
    width: 50px;
    height: 75px;
    object-fit: cover;
    margin-right: 10px; /* Espaço entre o pôster e o texto */
    border-radius: 4px;
}

.movie-title {
    font-size: 16px;
    color: #8500F2;
    font-weight: 500;
}

.plus-icon {
    font-size: 24px; 
    color: #8500F2;
    margin-left: 10px;
    border-radius: 50%;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-left: 16px;
    cursor: pointer;
}

