body{
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Define a altura do corpo para preencher toda a janela */
    display: flex; /* Habilita o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: #ccc;
}

.pop-up_cometario{
    width: 405.63px;
    height: 243px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1.5px solid #8500F2;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.elementos_pop-up_cometario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 48px;
}

.seu_comentario {
    font-size: 18px;
}
