@import url(nav.css);
@import url(texts.css);
@import url(button.css);
@import url(card.css);

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coolvetica', normal;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

.header_quiz {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px;
  padding: 20px;  
}

.logo__image {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding-right: 300px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 150px;
  list-style-type: none; 
}

.links a {
  color: white;
  font-weight: 100;
  font-size: 1.8rem;
  text-decoration: none;
}

.header_container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*----------------------------------------------------------------*/

section{
  margin-top:40px;
}

section h2{
  font-size: 32px;
}

section P{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.welcomeContainer{
  text-align: center;
  line-height:  0.8;
}

/*----------------------------------------------------------------*/

form{
  padding-top: 16px;
}

.quiz .question h3{
  font-size: 32px;
  margin-bottom: 10px;
}

.quiz .question label {
  font-size: 24px; 
  font-family: "Poppins", sans-serif;
  font-style:normal;
}

/*----------------------------------------------------------------*/

.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: left;
  width: 100%; 
  max-width: 600px;
  margin-bottom: 20px;
}

label{
  line-height:  2;
}

.question label {
  display: block;
  margin-bottom: 8px;
}

.figura_container{
  position: relative; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1; 
}

.figura_container::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/img/filme_garfield.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: -1; 
}

.figura_container_2 {
  position: relative; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1; 
}

.figura_container_2::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/img/filme_lady_gaga.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: -1; 
}

.question_container{
  position: relative; 
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

/*----------------------------------------------------------------*/

.question input[type="radio"] {
  display: none; /* Oculta o botão de rádio padrão */
}

.question label {
  position: relative;
  padding-left: 25px; /* Espaço para a bolinha */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.question label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px; /* Tamanho da bolinha */
  height: 15px; /* Tamanho da bolinha */
  border: 1px solid #ffffff; /* Cor da borda da bolinha */
  border-radius: 50%; /* Faz a bolinha ser circular */
  background-color: transparent; /* Fundo transparente */
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.question label:hover::before{
  background-color: #8500F2;
}

.question input[type="radio"]:checked + label::before {
  background-color: #8500F2; /* Cor da bolinha quando o rádio for selecionado */
}

/*----------------------------------------------------------------*/

.buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.buttons .btn {
  background-color: #8500F2;
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  height: auto;
  width: 300px;
}

.buttons .btn:hover {
  background-color: #5e02aa;
}

#WhatsApp_icon{
  width: 56px;
  margin: 0 40px;
}

#Instagram_icon, #suporte_icon{
  width: 48px;
  margin: 0 40px;
}

footer{
  background-color: #8500F2;
  padding: 8px;
  margin-top: 96px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.menu-toggle {
  background: none;
  display: none;
  font-size: 24px;
  font-weight:bold;
  border: none;
  color: #8500F2;
  cursor: pointer;
  padding-right: 0;
}

.header_responsiva{
  display: none;
}

.menu_responsivo{
  display: none;
}

.footer_responsivo {
  display: none;
}

@media (max-width: 768px) {

  body {
    margin-top: 85.8px; /* Ajuste de acordo com a altura da .header_responsiva */
  }

  .header_quiz{
    display: none;
  }
  
  .header_responsiva{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;        
    z-index: 3;
    position: fixed;
    width: 100%; /* Mantém a largura da header */
    top: 0; /* Fixa a header no topo da tela */
    left: 0; /* Garante que a header comece da borda esquerda */
  }

  .barradenavegacao_responsiva{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .barradenavegacao_responsiva .logo__image{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 0;
    max-width: 88px;
    margin-left: 0;
  }

  .barradenavegacao_responsiva .links li a{
    font-size: 16px;
  }

  .barradenavegacao_responsiva .links{
    display: flex;
    gap: 8px;
    padding: 0;
    margin-bottom: 3%;
    justify-content: center;
    align-self: center;
    flex-grow: 1;
  }

  .menu-toggle {
    display: block;     
  }

  /*-----------------------------*/

  .menu_responsivo {
    width: 100%;
    transform: translateY(-100%); /* Move o menu para fora da tela */
    transition: transform 0.4s ease; /* Animação suave */
    display: flex;
    flex-direction: column;
    background-color: #8500F2;
    position: fixed;
    top: -100%;
    z-index: 2;
  }

  .menu_responsivo.show {
    transform: translateY(0); /* Posiciona o menu na tela */
    top: auto;
  }

  .header_responsiva.header-active {
    background-color: #8500F2; /* Cor roxa */
  }

  .menu-toggle.menu-toggle-active{
    color: white;
  }

  .barradenavegacao_responsiva .logo__image.logoImage-active {
    filter: invert(1) brightness(100);     
  }
  
  .menu_responsivo .links {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaço entre as palavras */
    list-style: none;
    padding: 16px 8px;
    margin: 0 24px;         
  }

  .menu_responsivo .links li a {
    color: white;
    font-size: 16px; /* Tamanho da fonte */
    text-decoration: none;
  }

  .menu_responsivo .links li a:hover{
    font-size: 17px;          
  }

  /*-----------------------------*/

  .welcomeContainer h2{
    font-size: 24px;
    margin-top: 0;
  }
  .welcomeContainer p{
    font-size: 16px;
    padding: 0 20px 0 20px ;
    line-height: 125%;
  }

  /*-----------------------------*/

  .question{
    margin: 56px;
  }

  .figura_container .question h3{
    font-size: 24px;
  }

  .figura_container .question label{
    font-size: 16px;
  }

  .quiz .question label::before{
    width: 10px;
    height: 10px;
  }

  /*-----------------------------*/

  .question_container .question h3{
    font-size: 24px;
  }

  .question_container .question label{
    font-size: 16px;
  }

  /*-----------------------------*/

  .figura_container_2 .question h3{
    font-size: 24px;
  }

  .figura_container_2 .question label{
    font-size: 16px;
  } 

  /*-----------------------------*/

  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*-----------------------------*/
  
  footer{
    display: none;
  }

  .footer_responsivo{
    display: flex; /* Exibe o footer */
    flex-direction: column;
    background-color: #8500F2; /* Adicione um fundo para o footer */   
    padding: 0;  
  }

  .footer_responsivo .footer_links{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 0 20px;
    padding: 32px 0px 16px;
    gap: 16px;
  }

  .footer_responsivo .footer_links a{
    color: rgba(255, 255, 255, 0.887);
    text-decoration: none;
    font-size: 20.5px;
  }

  .footer_responsivo .footer_links a:hover{
    color: white;
  }

  .footer_responsivo .social-icons{       
    display: flex;
    margin: 0 20px;
    padding: 16px 0px;
    gap: 16px;
  }

  .footer_responsivo .social-icons a {
    display: flex; /* Usando flex para centralizar o ícone dentro do círculo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #5e02aa;
    border-radius: 50%; /* Faz o círculo */
    padding: 12px; /* Ajuste o padding para garantir que o círculo tenha o tamanho correto */
    width: 30px;  /* Tamanho do círculo */
    height: 30px; /* Tamanho do círculo, igual à largura para manter a forma redonda */
  }

  .social-icons #WhatsApp_icon{
    width: 32px; /* Ajuste o tamanho dos ícones */
    height: 32px; /* Garantir que o ícone não ultrapasse o tamanho do círculo */ 
    margin: 0;
    object-fit: contain;    
  }

  .footer_responsivo .social-icons #Instagram_icon {
    width: 27px; /* Ajuste o tamanho conforme necessário */
    height: 27px; /* Ajuste a altura também */
    margin: 0;
  }

  .footer_responsivo h3{
    margin: 0 20px;
    padding: 16px 0;
    font-size: 32px;
    text-align: left;
  }

  .footer_responsivo .logo_footer_responsivo{
    padding: 32px 0;    
    margin: 0 20px;
  }

  .footer_responsivo .logo__image{
    max-width: 88px;
    filter: invert(1) brightness(100);
  }

  .footer_responsivo .politica_termos{
    display: flex;
    padding: 16px 0;
    margin: 0 20px;
    font-size: 13.4px;
    gap: 16px;
    color: rgba(255, 255, 255, 0.78);
    font-family: "Poppins", sans-serif;
  }

  .footer_responsivo .politica_termos .politica_priv:hover,
  .footer_responsivo .politica_termos .term_cond:hover{
    color: white;
    cursor: pointer;
  }
}