@import url(texts.css);
@import url(button.css);

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coolvetica', normal;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

.header_quiz {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px;
  padding: 20px;  
}

.logo__image {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding-right: 300px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 150px;
  list-style-type: none; 
}

.links a {
  color: white;
  font-weight: 100;
  font-size: 1.8rem;
  text-decoration: none;
}

.header_container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*----------------------------------------------------------------*/

section{
  margin-top:40px;
}

section h2{
  font-size: 32px;
}

section P{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.welcomeContainer{
  text-align: center;
  line-height:  0.8;
}

/*----------------------------------------------------------------*/

form{
  padding-top: 16px;
}

.quiz .question h3{
  font-size: 32px;
  margin-bottom: 10px;
}

.quiz .question label {
  font-size: 24px; 
  font-family: "Poppins", sans-serif;
  font-style:normal;
}

/*----------------------------------------------------------------*/

.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: left;
  width: 100%; 
  max-width: 600px;
  margin-bottom: 20px;
}

label{
  line-height:  2;
}

.question label {
  display: block;
  margin-bottom: 8px;
}

.figura_container{
  position: relative; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1; 
}

.figura_container::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/img/filme_garfield.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: -1; 
}

.figura_container_2 {
  position: relative; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1; 
}

.figura_container_2::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/img/filme_lady_gaga.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: -1; 
}

.question_container{
  position: relative; 
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

/*----------------------------------------------------------------*/

.question input[type="radio"] {
  display: none; /* Oculta o botão de rádio padrão */
}

.question label {
  position: relative;
  padding-left: 25px; /* Espaço para a bolinha */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.question label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px; /* Tamanho da bolinha */
  height: 15px; /* Tamanho da bolinha */
  border: 1px solid #ffffff; /* Cor da borda da bolinha */
  border-radius: 50%; /* Faz a bolinha ser circular */
  background-color: transparent; /* Fundo transparente */
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.question label:hover::before{
  background-color: #8500F2;
}

.question input[type="radio"]:checked + label::before {
  background-color: #8500F2; /* Cor da bolinha quando o rádio for selecionado */
}

/*----------------------------------------------------------------*/

.buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.buttons .btn {
  background-color: #8500F2;
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  height: auto;
  width: 300px;
}

.buttons .btn:hover {
  background-color: #5e02aa;
}

/*-------------------------------------*/

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:auto;
  background-color: #8500F2;
  margin-top: 136px;
  padding: 56px 0 16px 0 ;
}
.footer_conteudo{
  display: flex;
  gap: 64px;
}
.cr6{
  padding: 0 16px;
}
.footer_logo_texto{
  border-right: 1px solid #dfdfdf;
  width: 400px;
  height: 100%;
}
.logo_footer{
  margin: 0 0 40px;
  filter: invert(1) brightness(100);
}
.footer_logo_texto p {
  margin: 0 0 16px; 
}

.cr7{
  padding: 0 24px;
}
.h2_footer h2{
  margin: 0 0 40px;
  position: relative;
}
.h2_footer h2::after{
  position: absolute;
  content: "";
  background: #dfdfdf;
  width: 16%;
  height: 1px;
  left: 0;
  bottom: -20px;
}
.texto_cadastro_footer{
  width: 250px;
  margin: 0 0 16px 0;
}
.botao_footer{
  width: 112.16px;
  text-decoration: none;
  color: #dfdfdf;
  background: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px; 
  margin-bottom: 16px;
  cursor: pointer;
}
.botao_footer:hover{
  color: white;
}

.cr8{
  padding: 0 24px;
}
.footer_menu {
  display: flex;
  
}
.footer_menu ul{
  padding-left: 0;
}
.footer_menu_esquerda{
  padding-right: 15px;
  line-height: 1.5rem;
}
.footer_menu_direita {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  line-height: 1.5rem;
}
.footer_menu_esquerda ul li a,
.footer_menu_direita ul li a{
  color: #dfdfdf;
  text-decoration: none;
  font-size: 17.5px;
}
.footer_menu_esquerda ul li a:hover,
.footer_menu_direita ul li a:hover{
  color: white;
}

.cr9{
  padding: 0 16px;
}
#WhatsApp_icon img{
  width: 42px;
  margin: 0;
}
#Instagram_icon{  
  width: 25px;
  margin: 0;
}
.circle {
  display: inline-block;
  width: 50px;  
  height: 50px;  
  border-radius: 50%;
  background-color: #5e02aa;  
  padding: 10px;  
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}
.circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}
.footer_contato_icones{
  margin-bottom: 0;
}
.footer_input input[type="text"] {
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 10px;
  padding-top: 6px; /* adicionar padding superior */
  padding-bottom: 6px; /* adicionar padding inferior */
}
.footer_input i[type="button"] {
  border: none;
  background: #430279;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 0 16px 16px 0;
  padding: 6px 12px; /* ajustar padding superior e inferior */
  cursor: pointer;
}

.footer_termos{
  margin-top: 56px;
  width:  100%;
  position: relative;
}

.footer_politica{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footer_politica p{
  color: #dfdfdf;
  cursor: pointer;
}
.footer_politica p:hover{
color: white;
}
.footer_termos::after{
  position: absolute;
  content: "";
  background: #dfdfdf;
  width:100%;
  height: 1px;
  left: 0;
  top: -20px;
}

/*-------------------------------------*/

.menu-toggle {
  background: none;
  display: none;
  font-size: 24px;
  font-weight:bold;
  border: none;
  color: #8500F2;
  cursor: pointer;
  padding-right: 0;
}

.header_responsiva{
  display: none;
}

.menu_responsivo{
  display: none;
}

.footer_responsivo {
  display: none;
}

@media (max-width: 768px) {

  .welcomeContainer h2{
    font-size: 24px;
    margin-top: 0;
  }
  .welcomeContainer p{
    font-size: 16px;
    padding: 0 20px 0 20px ;
    line-height: 125%;
  }

  .question{
    margin: 56px;
  }

  .figura_container .question h3{
    font-size: 24px;
  }

  .figura_container .question label{
    font-size: 16px;
  }

  .quiz .question label::before{
    width: 10px;
    height: 10px;
  }

  .question_container .question h3{
    font-size: 24px;
  }

  .question_container .question label{
    font-size: 16px;
  }

  .figura_container_2 .question h3{
    font-size: 24px;
  }

  .figura_container_2 .question label{
    font-size: 16px;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}