@import url(nav.css);
@import url(texts.css);
@import url(button.css);
@import url(card.css);
@import url(login.css);

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coolvetica', normal;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px;
  padding: 20px;  
}

.logo__image {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding-right: 300px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 150px;
  list-style-type: none; 
}

.links a {
  color: white;
  font-weight: 100;
  font-size: 1.8rem;
  text-decoration: none;
}

.header_container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*----------------------------------------------------------------*/

section{
  margin-top:40px;
}

section h2{
  font-size: 32px;
}

section P{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.welcomeContainer{
  text-align: center;
  line-height:  0.8;
}

/*----------------------------------------------------------------*/

form{
  padding-top: 16px;
}

.quiz .question h3{
  font-size: 32px;
  margin-bottom: 10px;
}

.quiz .question label {
  font-size: 24px; 
  font-family: "Poppins", sans-serif;
  font-style:normal;
}

/*----------------------------------------------------------------*/

.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: left;
  width: 100%; 
  max-width: 600px;
  margin-bottom: 20px;
}

label{
  line-height:  2;
}

.question label {
  display: block;
  margin-bottom: 8px;
}

.figura_container{
  position: relative; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1; 
}

.figura_container::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/img/filme_garfield.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: -1; 
}

.figura_container_2 {
  position: relative; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1; 
}

.figura_container_2::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/img/filme_lady_gaga.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; 
  z-index: -1; 
}

.question_container{
  position: relative; 
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

/*----------------------------------------------------------------*/

.question input[type="radio"] {
  display: none; /* Oculta o botão de rádio padrão */
}

.question label {
  position: relative;
  padding-left: 25px; /* Espaço para a bolinha */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.question label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px; /* Tamanho da bolinha */
  height: 15px; /* Tamanho da bolinha */
  border: 1px solid #ffffff; /* Cor da borda da bolinha */
  border-radius: 50%; /* Faz a bolinha ser circular */
  background-color: transparent; /* Fundo transparente */
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.question label:hover::before{
  background-color: #8500F2;
}

.question input[type="radio"]:checked + label::before {
  background-color: #8500F2; /* Cor da bolinha quando o rádio for selecionado */
}

/*----------------------------------------------------------------*/

.buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.buttons .btn {
  background-color: #8500F2;
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  height: auto;
  width: 300px;
}

.buttons .btn:hover {
  background-color: #5e02aa;
}

#WhatsApp_icon{
  width: 56px;
  margin: 0 40px;
}

#Instagram_icon, #suporte_icon{
  width: 48px;
  margin: 0 40px;
}

footer{
  background-color: #8500F2;
  padding: 8px;
  margin-top: 96px;
  text-align: center;
}