h1 {
    font-size: 3.5rem;
    margin: 0;
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

.subtitulo_card {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.textoPrincipal_telainicial {
    font-size: 3rem;
}

.textoSecundario_telainicial {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 20px 0;
}

li {
    list-style: none;
}