#movie-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

#filmes-recentes {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

.title-filmes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: initial;
  margin-left: 347px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-item {
  flex: 1 1 calc(20% - 20px); /* Cada item ocupa 20% da largura menos o espaçamento */
  max-width: calc(
    20% - 20px
  ); /* Limita o tamanho máximo para manter 5 por linha */
  box-sizing: border-box; /* Garante que padding e border sejam incluídos no tamanho total */
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-item img {
  width: 191px;
  height: 272px;
  border-radius: 10px;
}

#sidebar {
  width: 200px;
  background-color: #111;
  display: flex;
  gap: 10px;
}

.provider-logo {
  width: 100%;
  cursor: pointer;
}
.provider-logo:hover {
  transform: scale(1.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
}
