.filme-card {
  display: flex;
  justify-content: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 40px;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}

.filme-card:hover {
  transform: scale(1.05);
}

.filme-card img {
  max-width: 100%;
  border-radius: 5px;
}

.filme-card .titulo {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.filme-card p {
  font-size: 1em;
  color: #666;
}

.sidebar {
  width: 117.7rem;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.provider-logo {
  width: 50px;
  height: auto;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.provider-logo:hover {
  transform: scale(1.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
}