section {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;     /* Centraliza o conteúdo verticalmente */
    min-height: 100vh;       /* Garante que a section ocupe 100% da altura da tela */
    padding: 20px;           /* Espaçamento interno (opcional) */
}
.box-container{
    display: flex;
    box-sizing: border-box;
}
.side_bar{
   width: 375px;
   padding: 0 16px;
   height: auto;
}
#container_poster_favoritar{
    background-color: #858585;
    border-radius: 3px;
}
.popularidade_favoritar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background-color: #8500F2;
    border-radius: 0 0 3px 3px;
}
.popularidade_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 16px;
}
.favoritar_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 16px;
}
.popularidade_container p{
    margin: 0;
    font-size: 17.5px;
    font-family: "Coolvetica", sans-serif;
}
.favoritar_container p{
    font-size: 17.5px;
    margin: 0;    
    font-family: "Coolvetica", sans-serif;
}

.informacoes_do_titulo{
    margin-top: 40px;
}
.detalhes_infomacoes{
    display: flex;
    flex-direction: column;
    padding: 16px 0 ;
    gap: 8px;
    border-top: 1px solid rgba(243, 243, 243, 0.498); 
    padding-top: 10px;
}
.detalhes_infomacoes h3{
    font-size: 24px;
    margin: 0;
}
.detalhes_infomacoes p{
    font-size: 17.5px;
    margin: 0;
}

/*-----Right Bar-----*/
.right_bar{
    width: 750px;
    padding: 0 16px;
}
.trailer_titulo {
    position: relative;
    width: 750px;
}
#playButton {
    position: absolute;
    top: 50%; /* Centraliza o botão verticalmente */
    left: 50%; /* Centraliza o botão horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o botão para que o centro dele fique no centro do vídeo */
    background: #8500F2; /* Cor de fundo semi-transparente */
    color: white;
    border: none;
    border-radius: 50%; /* Faz o botão ficar redondo */
    padding: 10px;
    cursor: pointer;
}
#playButton:hover { 
    background-color: #5e02aa; /* Cor ao passar o mouse */ 
}

.informacoes_sinopse{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo_ano{
    display: flex;
    flex-direction: column;
}
.titulo_ano h3,
.titulo_ano p {
    padding: 0 !important;
    margin: 0;
}

.titulo_ano p{
    font-size: 16px;
}

#sinopse_titulo {
    margin: 0;
    width: 750px;
    height: auto;
    font-size: 16px;
}

.streamins_titulo{
    margin-top: 24px;
    border-top: 1px solid rgba(243, 243, 243, 0.498); 
}
.streamins_titulo p{
    font-family: "Coolvetica", sans-serif;
}