body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.banner {
  height: 744px;
  width: 100%;
  background-image: url("../img/aclamados.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  padding: 20px;
}
.title {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 10px;
}
.main-content {
  display: flex;
  justify-content: space-around;
  margin-left: -110px;
}
.main-content img {
  width: 100%;
  max-width: 1100px;
  height: 600px;
  border-radius: 10px;
}
.main-content .info {
  max-width: 400px;
  margin-left: 0px;
}

.texto1 {
  font-size: 20px;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.info a {
  color: #8500f2;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.info a:hover {
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}
.platforms {
  margin-top: -130px;
  margin-bottom: 15px;
}
.platforms img {
  width: 100px;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
}
.platforms .button {
  display: inline-block;
  background-color: #8500f2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
.genres,
.like-section {
  margin-top: 20px;
  font-size: 20px;
}
.like-section i {
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;
}
.like-section i:hover {
  color: #8500f2;
}
.recommendations {
  margin-top: 40px;
}
.recommendations img {
  width: 150px;
  margin-right: 10px;
  border-radius: 10px;
}
.footer {
  background-color: #8500f2;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.footer i {
  font-size: 1.5em;
  margin: 0 10px;
  color: #fff;
}
