@import url(button.css);
@import url(card.css);
@import url(filmes.css);
@import url(filmes_da_lista.css);
@import url(filmes_telainicial.css);
@import url(lista_usuario.css);
@import url(listas.css);
@import url(login.css);
@import url(nav.css);
@import url(quiz.css);
@import url(recomendacoes.css);
@import url(responsividade.css);
@import url(series.css);
@import url(style.css);
@import url(texts.css);
@import url(filmes_detalhes.css);
  
.titulo {
  color: aqua;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coolvetica", sans-serif;
  background-color: #000000;
  color: white;
}

header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 80vh;
}

.header_fundo {
  background-image: url("../img/filmes.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.titulo {
  color: aqua;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  z-index: 10;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .links,
  .icons {
    margin-top: 10px;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}
